<%= form_for(labour_availability) do |f| %>
  <% if labour_availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(labour_availability.errors.count, "error") %> prohibited this labour_availability from being saved:</h2>

      <ul>
      <% labour_availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :labour_id %>
    <%= f.text_field :labour_id %>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.number_field :day %>
  </div>

  <div class="field">
    <%= f.label :month %>
    <%= f.number_field :month %>
  </div>

  <div class="field">
    <%= f.label :schedule_id %>
    <%= f.number_field :schedule_id %>
  </div>

  <div class="field">
    <%= f.label :utilized %>
    <%= f.check_box :utilized %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
